.container {
    max-width: 750px;
    margin-bottom: 10px;
}

.banner h4 {
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  padding: 5px 10px;
  background: #000;
  text-transform: uppercase;
  color: #FFF;
}
.banner h4 span {
  color: #FF0000;
}
.banner img {
  width: 100%;
}

.rankings th {
  font-weight: bold;
}
  
.matches-container {
  width: 370px;
}

.nav-pills>li {
  padding: 1px 0;
}

.nav-pills>li>a {
  padding: 5px 10px;
}

.main-main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.loadingDots {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.loadingDots.hidden {
  display: none;
}

.loadingDots > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loadingDots .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loadingDots .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.forceLoading {
  margin: 100px auto 0;
  max-width: 600px;
}

.forceLoading div {
  display: inline-block;
  position: relative;
  animation: floatBubble 500ms infinite  normal linear;
}

.forceLoading img {
  width: 150px;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floatBubble {
    0% {
      left:20px;
    }
    50% {
      left: calc(100% - 220px);
    }
    100% {
      left: 20px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (min-width: 600px) {
  .forceLoading div {
    animation: floatBubble 1000ms infinite  normal linear;
  }
  .forceLoading img {
    width: 200px;
  }
}
